# Keep images #################################################################

!*.pdf
!*.png
!*.svg
!*.gif
!*.jpeg
!*.jpg

# Don't keep images made from Python scripts ##################################

*.py.pdf
*.py.png
*.py.svg
*.py.gif
*.py.jpeg
*.py.jpg
